*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my_sidebar{
    width: 250px;
    height: 100vh;
}












.debug-h100{height: 100px;}
.debug-h300{height: 300px;}
.debug-h500{height: 500px;}
.debug-h800{height: 800px;}
.debug-h-full{height: 100vh;}

.debug-w100{width: 100px;}
.debug-w300{width: 300px;}
.debug-w500{width: 500px;}
.debug-w800{width: 800px;}
.debug-w-full{width: 100%;}

