*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

#exampleDataList{
    background-color: rgba(128, 128, 128, 0.2);
}

.my_sidebar{
    align-self: end;
    width: 150px;
    height: calc(100vh - 86px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: auto;
}

@media screen and (max-width:768px){
    .my_sidebar{
        width: 70px;
    }
}

.my_nav_button:hover{
    background-color: #f8f9fa47;
}
main{
    height: calc(100vh - 100px);
    width: calc(100% - 150px);
    background-color: #f8f9fa;
}
@media screen and (max-width:780px){
    #offcanvasRight{
        width: 100%;
    }
}
@media screen and (min-width:1140px) {
    #my_col_tab{
        width: 40%;
    }
    .dropdown-menu{
        text-align: center;
        transform: translateX(-110px);
    }
}

#my_section1_col2 .badge{
    filter:grayscale(.3);
}

#my_section1_show-more:active + #my_more{
    display: block !important;
}

.fa-code{
    border-radius: 50%;
    background-color: rgb(255, 81, 38);
    padding: .4rem .3rem;
}







.debug-h100{height: 100px;}
.debug-h300{height: 300px;}
.debug-h500{height: 500px;}
.debug-h800{height: 800px;}
.debug-h-full{height: 100vh;}

.debug-w100{width: 100px;}
.debug-w300{width: 300px;}
.debug-w500{width: 500px;}
.debug-w800{width: 800px;}
.debug-w-full{width: 100%;}

